---
layout: default
title: "Home"
icon : home
menu: main
order: 1
tags: hackerrank python data
excerpt:      Come visit and read about Data Sciences, Python, Machine Learning, Algorithms and Data Structures.
description: >
  WELCOME TO MY DATA LAB
---
<header>
  <center>
	 <h1 class="main-title">{{ page.description }}</h1>
  </center>
</header>
<section>
    <center>
        
        <div class="filter-button-group">
            <div class="button no-border default all filter" data-filter=".nothing">All</div>
            {% assign categories = site.categories | sort: categories  %}
            {% for category in categories %}
            <div class="button no-border {{ category | first }} filter on" data-filter=".{{ category | first }}">
                {% if category contains 'algorithm' %} 
                  Algorithms &amp; Data Structures
                {% elsif category contains 'codingpro' %} 
                  Coding Interviews
                {% elsif category contains 'data_sciences' %} 
                  Data Sciences
                {% else %}
                  {{ category | first }}
                {% endif %}
            </div>
            {% endfor %}
            <div class="button no-border default all_none filter" data-filter=".all_none">None</div>
        </div>
    </center>
</section>
<section class="tiles">

  {% for post in site.posts limit:24 %}
  {% if post.menu == 'main' %}

      <article class="article {{ post.class }} {{ post.title }}" >
        <span class="image">
          <img src="{{ "/assets/images/White_square.png" | prepend: site.baseurl }}" alt="">
        </span>
        <a class = "up" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" style="height:33%; position: absolute; top: 0 !important; overflow: hidden; background-image: url('{{ post.thumbnail-image | prepend: site.baseurl }}'); background-size: cover;background-position: center; ">
        </a>
        <a class = "down" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" style="height:67%; position: absolute; bottom: 0 !important;">
          <!--<span style="font-weight:300;">{% if post.class contains 'algorithm' %} 
                  Algorithms &amp; Data Structures
                {% elsif post.class contains 'codingpro' %} 
                  Coding Interviews
                {% else %}
                  {{ post.class | first }}
                {% endif %}</span>-->
          <h4 style="font-weight:400; position: absolute; top: 1.5em !important; left: 1.5em !important; padding: 0 !important; margin:0 !important;">{{ post.post_title }}</h4>
            <div style="padding: 0 !important; margin:0 !important;">{{ post.description }}</div>
          <span style="position: absolute; bottom: 1.5em !important; right: 1.5em !important;">
              {% if post.update contains 'yes' %}
              Last update on
              {% endif %}
              {{ post.date | date: "%b %-d, %Y" }}</span>
        </a>
      </article>


    {% endif %}
    {% endfor %}

</section>

