<!-- Header -->
<header id="header_post">

    <!-- Nav -->
      <nav>
        <ul>
          <li><a href="#menu" title="Menu">Menu</a></li>
        </ul>
      </nav>

      <div  class = "banner-image" style="background-image: url('{{ page.header-image | prepend: site.baseurl }}'); height:100%;" ><h1><center>{{ page.title | capitals }}</center></h1></div>
</header>

<!-- Menu -->
<nav id="menu">
  <h2>Menu</h2>
  <ul>
    {% assign pages = site.pages | sort: "order"  %}
    {% for my_page in pages %}
      {% if my_page.menu == 'main' %}
        {% if my_page.post_title %}
        <li><a href="{{ my_page.url | prepend: site.baseurl }}" title="{{ my_page.title }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
